.contact-header {
  margin: 10px;
  padding: 10px;
}

.contact-info {
  background-color: #f8f4ec;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.absolute {
  position: absolute;
}
.phone {
  background: transparent;
  border: none;
  margin-left: 10px;
  width: 240px;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding: 5px;
}
.postcard {
  position: relative;
  width: 740px;
  height: 498px;
  margin: 15px 0px;
  background: url('https://developer.mozilla.org/files/4151/background.jpg'); 
  border: 2px solid #ccc;
  box-shadow: 7px 7px 20px #555;
}
.receiver {
  right: 150px;
  top: 191px;
}
.sender {
  right: 150px;
  top: 237px;
}

.location {
  right: 110px;
  top: 291px;
}
