.contact-header {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.contact-info {
  align-items: center;
  background-color: #f8f4ec;
  height: 100%;
}

.all-info {
  display: flex;
  flex-direction: row;
  height: 73vh;
  width: 100%;
}

.left-side {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.contact-line-break {
  display: none;
}

.right-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

ul {
  list-style: none;
}

li {
  font-size: 24px;
  padding: 10px;
}

.contacts {
  font-size: 28px;
  padding: 15px;
  text-align: center;
}

.email-contact {
  color: #00abf0;
  font-size: 28px;
  padding: 15px;
  text-align: center;
}

.map-link {
  font-size: 22px;
  padding: 10px 0px;
}

@media (max-width: 875px) {
  .contacts {
    font-size: 24px;
  }
  .right-side {
    width: 52%;
  }
}

@media (max-width: 768px) {
  .all-info {
    align-items: center;
    flex-direction: column;
    height: 67vh;
    justify-content: center;
  }

  .left-side {
    padding-bottom: 15px;
    width: 75%;
  }

  .right-side {
    padding-top: 15px;
    width: 75%;
  }

  .contact-line-break {
    display: inline-block;
    border-bottom: 3px solid #00abf0;
    opacity: 0.4;
    width: 90%;
  }
}

@media (max-width: 400px) {

  .all-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 69vh;
  }

  .left-side {
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: 90%;
  }

  li {
    font-size: 16px;
  }

  .contact-line-break {
    display: inline-block;
    border-bottom: 1.5px solid #00abf0;
    opacity: 0.4;
    width: 90%;
  }

  .right-side {
    margin-top: 25px;
    padding-top: 15px;
    width: 90%;
  }

  .contacts {
    font-size: 18px;
  }

  .email-contact {
    font-size: 18px;
  }

  .map-link {
    font-size: 18px;
  }
}
