.app-title {
  color: #5a5a5a;
  height: 125px;
}

.all-info {
  display: flex;
  flex-direction: row;
  height: 73vh;
}

.welcome-area {
  align-items: center;
  background-color: #f8f4ec;
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
  padding-left: 15px;
}

.welcome-image {
  background-image: url('../assets/dillon.svg');
  background-size: cover;
  height: 213px;
  margin-left: 10px;
  width: 653px;
}

.info-area {
  align-items: center;
  background-color: #f8f4ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 85%;
}

.nav-links:hover {
  border-color: transparent;
  box-shadow: 0 0 0 2px #5d4e48;
}

.nav-links {
  color: #5a5a5a;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}
