.app-title {
  color: #5a5a5a;
  height: 125px;
}

.welcome-all-info {
  display: flex;
  flex-direction: row;
  height: 67vh;
}

.welcome-area {
  align-items: center;
  background-color: #f8f4ec;
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
  padding-left: 15px;
}

.welcome-image {
  background-image: url('../assets/dillon.svg');
  background-size: cover;
  height: 213px;
  margin-left: 10px;
  width: 653px;
}

.info-area {
  align-items: center;
  background-color: #f8f4ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 85%;
}

.nav-links:hover {
  border-color: transparent;
  box-shadow: 0 0 0 2px #5d4e48;
}

.nav-links {
  color: #5a5a5a;
  font-size: 24px;
  padding: 5px;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .welcome-all-info {
    flex-direction: column;
  }

  .welcome-area {
    padding-top: 75px;
  }
}

@media (max-width: 768px) {
  .welcome-all-info {
    flex-direction: column;
  }

  .welcome-area {
    padding-top: 75px;
    padding-left: unset;
  }

  .welcome-image {
    margin-left: unset;
  }

  .info-area {
    padding: 35px 0px;
  }
}

@media (max-width: 500px) {
  .welcome-all-info {
    flex-direction: column;
    height: unset;
  }

  .welcome-area {
    padding-bottom: unset;
    padding-left: unset;
    padding-top: 55px;
  }

  .welcome-image {
    height: 225px;
    width: 90%;
    margin-top: 25px;
    margin: unset;
  }

  .app-title {
    font-size: 20px;
    height: 35px;
    padding: 20px 0;
  }

  .button-links {
    height: 55px;
  }

  .info-area {
    padding-bottom: 15px;
  }

  .nav-links {
    font-size: 18px;
    height: fit-content;
  }
}
