* {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

.top {
  background-image: url('./assets/wood2.jpeg');
  background-size: cover;
  height: 77px;
  width: 100%;
}

.app-header {
  align-items: center;
  background-color: #678045;
  color: white;
  display: flex;
  justify-content: center;
  height: 125px;
}

.welcome-image {
  border: 5px solid #7C524C;
}

.app-footer {
  align-items: center;
  background-color: #678045;
  color: white;
  display: flex;
  justify-content: center;
  height: 125px;
  margin-top: -4px;
}


