* {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

.top {
  background-image: url('./assets/wood2.jpeg');
  background-size: cover;
  height: 110px;
  width: 100%;
}

.app-title {
  color: white;
  height: 125px;
}

.all-info {
  display: flex;
  flex-direction: row;
}

.welcome-area {
  position: relative;
  background-color: #fee9a9;
  z-index: -10;

}

.welcome-image {
  background-image: url('./assets/dillon.svg');
  background-size: cover;
  height: 213px;
  margin-left: 10px;
  width: 653px;
}

.info-area {
  align-items: center;
  background-color: #fee9a9;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-footer {
  background-color: #fee9a9;
  height: 150px;
  
}


