* {
  font-family: 'Special Elite', cursive;
  margin: 0;
}

.top {
  background-image: url('./assets/wood2.jpeg');
  background-size: cover;
  height: 110px;
  width: 100%;
}

@media (min-width: 400px) {
  .top {
    height: 75px;
  }
}


